{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}


{% block content %}


<h1>ZAYA – Your Path to Balanced Living </h1>
<br>
<br>
<p>  ZAYA is a personalized health and nutrition platform designed to help you nourish your body and mind.
      We combine expert guidance, tailored meal plans, and holistic wellness insights to empower you to live healthier, feel stronger, and thrive naturally.</p>

<img src="{%static "images/imagezaya.png"%}" alt="">

{% endblock content %}






